*.bgn
*.bit
*.bld
*.cgc
*.cgp
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
addressing_modes.vhdl
addressingmodeequations
*.o
*.bin
*.xise
*.gise
*.log
*.cf
*.dSYM
ram?.vhdl
newcpu/_ngo/
newcpu/_xmsgs/
newcpu/container.prj
newcpu/iseconfig/
newcpu/tmp/
newcpu/xlnx_auto_0_xdb/
newcpu/xst/
makeram
instrlenequations
instruction_equations.vhdl
instruction_flags.h
instruction_lengths.vhdl
instructionequations
.gitignore
*.s
icachebits.vhdl