div {
    border: thin;
    border-color: black;
    border-style: solid;
    margin: 8;
    padding: 8;
    display: inline-block;
}

div.signallist {
    border-style: none;
    margin: 0 0 0 2;
    padding: 0;
    display: block;
}

div.entity {
    border: thin;
    border-color: black;
    border-style: solid;
    margin: 8;
    padding: 0;
}

div.signal {
    border-style: none;
    margin: 2 2 2 0;
    padding: 8;
    background-color: #e0e0e0;
    display: inline-block;
}

div.signalupdated {
    border-style: solid;
    margin: 2 2 2 0;
    padding: 8;
    background-color: #ffff60;
}

div.entitytitle {
    margin: 0;
    background-color: black;
    color: white;
    display: block;
}

div.navitem {
    margin: 0;
    background-color: #e0e0e0;
    color: black;
    display: inline-block;
}

a:link {
    text-decoration: none;
    color: black;
}



div.navbar {
    border-style: solid;
    margin: 2 2 2 0;
    padding: 8;
    background-color: #d0ffd0;
    position: fixed;
    top: 0;
    right: 32;
    display: inline;
    align: right;
}

div.navbarunder {
    border-style: solid;
    margin: 2 2 2 2;
    padding: 8;
    background-color: #d0d0d0;    
    width: 100%;
    display: inline;
    visibility: hidden;
}
